{% extends 'base.html' %} {% load static %} {% block head%}
<title>All contracts</title>
<link rel="stylesheet" href="{% static 'css/all_data.css' %}" />
{% endblock %} {% block content %}
<div class="head_data">
  <h1>All contracts</h1>
  <p>In current month the term of {{term_data}} contracts finish.</p>
  <p>
    The evarage squere of accomodation with more then 1 owner is eqvel to
    {{avg_squer}} M^2
  </p>

  <div class="check">
    <form class="get">
      <div class="cont">
        <span>Contract order</span>
        <select id="contract_order">
          <option>Ascending</option>
          <option>Decreasing</option>
        </select>
      </div>
      <div class="cont">
        <span>Select Accomodation</span>
        <select id="accomodation">
          <option>All</option>
        </select>
      </div>

      <div id="term_div" class="cont">
        <span>Term</span>
        <select id="term">
          <option>All</option>
          <option>Select from to</option>
        </select>
      </div>
      <div class="cont">
        <span>Введите чатсть названия</span>
        <input type="text" id="input" />
      </div>
    </form>
  </div>
</div>
<div class="plot" id="plot">
  {% for contract in data %}

  <a class="block_ref" href="{{contract.contract_number}}">
    <div class="block">
      <h2 class="contract">Contract number: {{contract.contract_number}}</h2>
      <h3 class="term">Is activ to: {{contract.term}}</h3>
      <h3 class="acc">Accomodation: {{contract.accomodation.address}}</h3>
    </div>
  </a>
  {% endfor %}
</div>

<script>

   let data=[]
   let temp_dict={}
   let plot = document.getElementById('plot');

   let contract_order=document.getElementById('contract_order');
   let accomodation=document.getElementById('accomodation');
   let term=document.getElementById('term');


   let month = new Array();
   month[0] = "January";
   month[1] = "February";
   month[2] = "March";
   month[3] = "April";
   month[4] = "May";
   month[5] = "June";
   month[6] = "July";
   month[7] = "August";
   month[8] = "September";
   month[9] = "October";
   month[10] = "November";
   month[11] = "December";

   {% for contract in data %}
     temp_dict={}
     temp_dict['contract']="{{ contract.contract_number }}"
     temp_dict["term"]=new Date("{{ contract.term }}")
     temp_dict["accomodation"]="{{ contract.accomodation.address }}"
     data.push(temp_dict);
   {% endfor %}

   const Start_Data=data;


   function delAll(){
       while (plot.firstChild) {
     plot.removeChild(plot.firstChild);
       }
   }
   function showAll(dat){
     for (let i=0;i<dat.length;i++){
       let temp=document.createElement('a');
       temp.innerHTML='<div class="block"><h2 class="contract">Contract number:'+dat[i]['contract']+'</h2><h3 class="term">Is activ to:'+month[dat[i]['term'].getMonth()]+' '+dat[i]['term'].getDate()+', '+dat[i]['term'].getFullYear()+' </h3><h3 class="acc">Accomodation: '+dat[i]['accomodation']+'</h3></div>';
       plot.appendChild(temp);
     }
   }

   //creat options
   for (let i=0;i< data.length;++i){
     let elem = document.createElement('option');
     elem.innerText="";
     elem.innerText+=data[i]['accomodation'];
     if(accomodation!=null)
       accomodation.appendChild(elem);
     else {
       console.log("node was null");
     }
   }
  let contract_order_func=function(){
   let value=contract_order.value;
   data=Start_Data;
     if (value=='Ascending'){
       for(let i =0;i<data.length-1;++i){
         for (let j=0;j<data.length-1-i;++j){
           if (Number(data[j]['contract'])>Number(data[j+1]['contract'])){
             temp=data[j]['contract'];
             data[j]['contract']=data[j+1]['contract'];
             data[j+1]['contract']=temp;
           }
         }
       }
     }
     else{
       for(let i =0;i<data.length-1;++i){
         for (let j=0;j<data.length-1-i;++j){
           if (Number(data[j]['contract'])<Number(data[j+1]['contract'])){
             temp=data[j]['contract'];
             data[j]['contract']=data[j+1]['contract'];
             data[j+1]['contract']=temp;
           }
         }
       }
     }
     delAll();
     showAll(data);
  }
   contract_order.addEventListener("change" ,contract_order_func);
  let accomodation_func=function(){
     let value=accomodation.value;
     data=Start_Data;
     contract_order_func();
     if(value=="All"){
       delAll();
       showAll(data);
     }
     else{
       let temp_data=[];
       for(let  i=0;i<data.length;++i){
         if (data[i]['accomodation']==value){
           temp_data.push(data[i]);
         }
       }
       data=temp_data;
       delAll();
       showAll(data);
     }
   };
   accomodation.addEventListener("change",accomodation_func);
  let date_from=Object();
  let date_to=Object();


   let date_from_func=function(){
    data=Start_Data;
    let from =new Date(date_from.value);
    let to =new Date(date_to.value);
    if(date_from.value==""){
      from=new Date();
    }
    if(date_to.value==""){
      to=new Date();
    }
    if(from>to){
      let temp=from;
      from=to;
      to=temp;
    }


     let temp_data=[]
    for(let i =0;i<data.length;++i){
      if (data[i]['term']>from && data[i]['term']<to){
        temp_data.push(data[i]);
      }
      delAll();
      //data=temp_data;
      showAll(temp_data);
    }
   }
   let date_to_func=function(){
    data=Start_Data;
    let from =new Date(date_from.value);
    let to =new Date(date_to.value);
    if(date_from.value==""){
      from=new Date();
    }
    if(date_to.value==""){
      to=new Date();
    }
    if(from>to){
      let temp=from;
      from=to;
      to=temp;
    }
    let temp_data=[]
    for(let i =0;i<data.length;++i){
      if (data[i]['term']>from && data[i]['term']<to){
        temp_data.push(data[i]);
      }
      delAll();
      //data=temp_data;
      showAll(temp_data);
    }
   }
  let term_func=function(){
     value=term.value;
     if(value=="All"){
       let from_date=document.getElementById('from');
       let to_date=document.getElementById('to');
       let lables=document.getElementsByTagName('lable');
       lables[0].remove();
       lables[0].remove();
       from_date.remove();
       to_date.remove();
       delAll();
       showAll(data);
     }
     else{
       let id='from';
       let term_div=document.getElementById('term_div');
       for(let i=0;i<2;++i){
        let lable=document.createElement('lable');
        lable.for=id;
        lable.innerText=id;
        let elem = document.createElement('input');
        elem.type='date';
        elem.id=id;
        if(term_div!=null){
          term_div.appendChild(elem);
          term_div.appendChild(lable);
        }
        else {
          console.log("node was null");
        }
        id='to';
       }
       date_from=document.getElementById('from');
       date_from.onchange=date_from_func;
       date_to=document.getElementById('to');
       date_to.onchange=date_to_func;

     }
   };
   term.addEventListener("change",term_func);
</script>
{% endblock %}
