{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Payment{{payment.id}}</title>
<link rel="stylesheet" href="{% static 'css/data.css' %}">
{% endblock %}

{% block content %}

<div class="block">
    <h2>Contract: {{payment.contract_number_id}}</h2>
    <h4>Payment number: {{payment.payment_id}}</h4>
    <h3>Sum:{{payment.summ}}</h3>
    <h4>Date: {{payment.pay_datetime}}</h4>
</div>
<button onclick="window.location.href='delete'">Delete</button>
<button onclick="window.location.href='edit'">Edit</button>
<button onclick="window.location.href='Report'">Get Report</button>

{% endblock %}