/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  /*
  background: -webkit-linear-gradient(left, #a3486e, #ac225c);
  background: linear-gradient(to right, #912948, #a51f2a);
*/
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
